<div class="row">
    <main class="col-md-12">
        <br>
        <h2 class="text-white"><%= student.firstName %> <%= student.lastName %> - Student: <%= student.studentNum %></h2>
        <hr />
        <form method="post" action="/student/update">
            <input type="hidden" name="studentNum" value="<%= student.studentNum %>" />
            <fieldset>
                <legend class="text-white">Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input class="form-control" name="firstName" type="text" value="<%= student.firstName %>" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name:</label>
                            <input class="form-control" name="lastName" type="text" value="<%= student.lastName %>" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email:</label>
                            <input class="form-control" name="email" type="email" value="<%= student.email %>" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Address (Street):</label>
                            <input class="form-control" name="addressStreet" type="text" value="<%= student.addressStreet %>" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Address (City):</label>
                            <input class="form-control" name="city" type="text" value="<%= student.city %>" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Address (Province):</label>
                            <input class="form-control" name="province" type="text" value="<%= student.province %>" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>TA:</label>
                            <input class="form-check-input" name="TA" type="checkbox" <% if (student.TA) { %>checked<% } %> />
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend class="text-white">Enrollment Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Status:</label><br>
                            <input type="radio" name="status" value="Full Time" <% if (student.status === "Full Time") { %>checked<% } %> /> Full Time
                            <input type="radio" name="status" value="Part Time" <% if (student.status === "Part Time") { %>checked<% } %> /> Part Time
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Course:</label>
                            <select class="form-control" name="course">
                                <option value="1" <% if (student.course == 1) { %>selected<% } %>>Relational Database Design and Implementation</option>
                                <option value="2" <% if (student.course == 2) { %>selected<% } %>>Java Programming</option>
                                <option value="3" <% if (student.course == 3) { %>selected<% } %>>Introduction to Cloud Computing</option>
                                <option value="4" <% if (student.course == 4) { %>selected<% } %>>Database Administration and Management</option>
                                <option value="5" <% if (student.course == 5) { %>selected<% } %>>Web Programming</option>
                                <option value="6" <% if (student.course == 6) { %>selected<% } %>>Applied Capstone Project</option>
                                <option value="7" <% if (student.course == 7) { %>selected<% } %>>Database Connectivity Using Java</option>
                                <!-- Excluded: Accessing Big Data (DBD800), Datawarehousing (DBW825), Security in Databases and Web Applications (SEC835), Work Term Preparation (WTP100) -->
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary float-right" value="Update Student" /><br /><br /><br />
        </form>
    </main>
</div>